* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-weight: 700;
    font-size: 4rem;
    line-height: calc(47 / 40);
    color: #0A0B21;
}

h2 span {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 2rem;
    line-height: calc(23 / 20);
    letter-spacing: 0.2em;
}
