.about{
    padding-top: 157px;
    padding-bottom: 160px;
    background-image: url("../../Image/Stripes.png");
    background-position: top 115px left;
    background-size: 178px ;
    background-repeat: no-repeat;
}
.about-container{
    display: flex;
    align-items: center;
    gap: 43px;
    margin-left: calc((100% - 1160px)/2 );
}
.text-about{
    width: 463px;
    flex-shrink: 0;
}
.text-about h2{
    font-weight: 700;
    font-size: 4rem;
    line-height: calc(47 / 40);
    color: #0A0B21;
    margin-bottom: 30px;
}
.text-about h2 span{
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    line-height: calc(23 / 20);
    font-weight: 500;
    letter-spacing: 0.2em;
}
.text-about p{
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    color: #52575C;
    margin-bottom: 50px;
}
.text-about button{
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #FFFFFF;
    background-color: #FFBE00;
    padding: 12px 35px;
    min-width: 179px;
}
.image-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.image-about img{
    width: 100%;
}
.image-about img:last-child{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
