.chefs {
    padding-top: 80px;
    padding-bottom: 80px;
}

.chefs__wrapper {
    display: flex;
    gap: 145px;
    align-items: center;
    margin-bottom: 113px;
}

.chefs__content {
    flex-shrink: 0;
    width: 373px;
}

.chefs__title {
    margin-bottom: 30px;
}

.chefs__text {
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    color: #52575C;
}

.chefs__image {
    margin-bottom: 113px;
}

.chefs__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.chefs-item {
    width: 300px;
}

.chefs__image {
    width: 100%;
    margin-bottom: 30px;
}

.chefs__subtitle {
    font-weight: 700;
    font-size: 3rem;
    line-height: calc(28 / 30);
    text-align: center;
    color: #0A0B21;
    margin-bottom: 10px;
}

.chefs__list-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    text-align: center;
    color: #52575C;
}

.chefs__list-magazine {
    display: flex;
    gap: 52px;
    align-items: center;
}