.food {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.food__title {
    text-align: center;
    margin-bottom: 60px;
}

.food__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
}

.food__item {
    height: 1px;
    position: relative;
    padding-bottom: 127.7%;
}

.food__main-image {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.food__wrapper-list {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}

.food__content-list {
    flex-grow: 1;
}

.food__subtitle {
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(23 / 20);
    color: #000000;
    margin-bottom: 10px;
}

.food__text {
    font-weight: 700;
    font-size: 3rem;
    line-height: calc(35 / 30);
    color: #000000;
}