.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #5E626F;
}

.footer__container-lg {
    width: 1680px;
    margin-left: auto;
    margin-right: auto;
}

.footer__row {
    display: flex;
    column-gap: 90px;
    flex-wrap: wrap;
    row-gap: 150px;
}

.footer__column {
    width: 220px;
}

.footer__title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: calc(56 / 48);
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer__text {
    font-size: 1.6rem;
    line-height: calc(32 / 16);
    color: rgba(255, 255, 255, 0.7);
}

.footer__content {
    width: 440px;
}

.footer__subtitle {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: calc(30 / 26);
    color: #FFFFFF;
    margin-bottom: 30px;
}

.footer__subtitle::after {
    content: " ";
    display: block;
    height: 1px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__item {
    font-size: 1.8rem;
    line-height: calc(21 / 18);
    color: rgba(255, 255, 255, 0.7);
}

.footer__list-icons {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-top: 20px;
}

.footer__line {
    width: 1680px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 39px;
}

.footer__paragraph {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    line-height: calc(21 / 18);
    color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-top: 39px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}