.gallery{
    padding-top: 80px;
    padding-bottom: 80px;
}
.gallery h2{
    font-weight: 700;
    font-size: 4rem;
    line-height: calc(47 / 40);
    color: #0A0B21;
    margin-bottom: 35px;
}
.gallery h2 span{
    font-weight: 500;
    font-size: 2rem;
    line-height: calc(23 / 20);
    letter-spacing: 0.2em;
    color: #0A0B21;
    display: block;
    margin-bottom: 5px;
}
.list-gallery{
    display: flex;
    align-items: center;
    gap: 143px;
}
.list-gallery li{
    font-size: 2rem;
    line-height: calc(23 / 20);
    color: #000000;
    margin-bottom: 50px;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
    margin-bottom: 50px;
}
.item-1{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end: 2;
}
.item-2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.push{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
 button{
    padding: 12px 50px;
    min-width: 179px;
    background-color: #FFBE00;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
}



