.gallery {
    padding-top: 80px;
    padding-bottom: 80px;
}

.gallery__title {
    margin-bottom: 35px;
}

.gallery__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 143px;
}

.gallery__item {
    font-size: 2rem;
    line-height: calc(23 / 20);
    color: #000000;
    margin-bottom: 50px;
    transition: all 0.3s;
}

.gallery__item:active {
    padding-bottom: 15px;
    border-bottom: 1px solid #FFBE00;
}

.gallery__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
    margin-bottom: 50px;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}

.gallery__wrapper-button {
    display: flex;
    justify-content: flex-end;
}

.gallery__button {
    display: flex;
    gap: 13px;
    align-items: center;
    padding: 12px 40px;
    min-width: 179px;
    background-color: #FFBE00;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
}




