.hero {
    min-height: 100vh;
    background-image: url("../../Image/Eggs.png"),
    url("../../Image/cezar.png"),
    url("../../Image/giodza.png"),
    url("../../Image/hero-bg.png");
    background-repeat: no-repeat;
    background-position: top left,
    right 179px center,
    bottom left,
    center;
    background-size: 403px, 829px, 400px, cover;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 37px 0;
    color: #0A0B21;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 5rem;
    line-height: calc(50 / 59);
    font-weight: 700;
    text-transform: uppercase;
}

.header__list {
    display: flex;
    gap: 50px;
}

.header__item {
    font-size: 1.8rem;
    line-height: calc(21 / 18);
    font-weight: 700;
}

.header__button {
    padding: 12px 35px;
    min-width: 120px;
    font-size: 1.8rem;
    line-height: calc(21 / 18);
    font-weight: 700;
    border: 1px solid #FFBE00;
    border-radius: 20px;
}

.wrapper-hero {
    padding: 50px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-hero__content {
    width: 465px;
}

.wrapper-hero__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: calc(70 / 60);
    margin-bottom: 30px;
}

.wrapper-hero__subtitle {
    display: block;
    margin-bottom: 5px;
    font-size: 2rem;
    line-height: calc(23 / 20);
    font-weight: 500;
    letter-spacing: 0.2em;
}

.wrapper-hero__text {
    color: #52575C;
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    margin-bottom: 50px;
}

.wrapper-hero__button {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #FFFFFF;
    background-color: #FFBE00;
    padding: 12px 35px;
    min-width: 179px;
}





