.reviews {
    padding-top: 80px;
    padding-bottom: 160px;
}

.reviews__title {
    text-align: center;
    margin-bottom: 60px;
}

.subtitle::before {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #0A0B21;
    margin-bottom: 6px;
    margin-right: 35px;
}

.subtitle::after {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #0A0B21;
    margin-bottom: 6px;
    margin-left: 35px;
}

.reviews__content {
    display: flex;
    align-items: center;
    gap: 75px;
}

.reviews__wrapper-switch {
    display: flex;
    align-items: center;
    gap: 13px;
    box-shadow: 0 6px 8px rgba(39, 59, 109, 0.1);
    padding: 41px 20px;
}

.reviews__abbr {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #949A9F;
    background-color: #FFFFFF;
}

.reviews__content{
    display: flex;
    align-items: center;
}

.reviews__image {
    width: 400px;
}

.reviews__quote {
    font-size: 16px;
    line-height: 32px;
    color: #52575C;
    margin-bottom: 25px;
}

.reviews__name {
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(23 / 20);
    color: #0A0B21;
    margin-bottom: 10px;
}

.reviews__mean {
    font-size: 14px;
    line-height: 16px;
    color: #25282B;
    margin-bottom: 0;
}

.reviews__wrapper-button {
    display: flex;
    align-items: center;
    gap: 13px;
}

.reviews__button {
    min-width: 100px;
    padding: 40px 18px;
    background-color: #FFBE00;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
