.reviews {
    padding-top: 80px;
    padding-bottom: 160px;
}

.reviews h2 {
    text-align: center;
    margin-bottom: 60px;
}

.reviews h2 span::before {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #0A0B21;
    margin-bottom: 6px;
    margin-right: 35px;
}

.reviews h2 span::after {
    content: " ";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: #0A0B21;
    margin-bottom: 6px;
    margin-left: 35px;
}

.content-reviews {
    display: flex;
    align-items: center;
    gap: 75px;
}

.prev {
    display: flex;
    align-items: center;
    gap: 13px;
}

.prev {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: calc(19 / 16);
    color: #949A9F;
    background-color: #FFFFFF;
}

.content-reviews > img {
    width: 400px;
}

.text-previews blockquote {
    font-size: 16px;
    line-height: 32px;
    color: #52575C;
    margin-bottom: 25px;
}

.text-previews p {
    font-weight: 700;
    font-size: 2rem;
    line-height: calc(23 / 20);
    color: #0A0B21;
    margin-bottom: 10px;
}

.text-previews p:last-child {
    font-size: 14px;
    line-height: 16px;
    color: #25282B;
    margin-bottom: 0;
}

.press-reviews {
    display: flex;
    align-items: center;
    gap: 13px;
}

.reviews button {
    min-width: 100px;
    padding: 40px 18px;
    background-color: #FFBE00;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
