.service {
    padding-top: 80px;
    padding-bottom: 80px;
}

.service__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.service__title {
    text-align: center;
    margin-bottom: 30px;
}

.service__text {
    align-self: center;
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    color: #52575C;
    text-align: center;
    width: 463px;
}

.service__list {
    display: flex;
    gap: 40px;
}

.service__item {
    width: 360px;
    padding: 40px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 35px 40px rgba(33, 46, 92, 0.1);
}

.service__image {
    width: 60px;
    position: relative;
    left: 120px;
    margin-bottom: 40px;
}

.service__subtitle {
    font-weight: 700;
    font-size: 3rem;
    line-height: calc(28 / 30);
    color: #0A0B21;
    margin-bottom: 20px;
    text-align: center;
}

.service__description {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: calc(28 / 16);
    text-align: center;
    color: #52575C;
}